<div class="dashboard-container">
  <h1>Ticket Management Dashboard</h1>

  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="openCreateTicketDialog('Send')">
      <mat-icon>add_circle</mat-icon>
      Create Send Ticket
    </button>
    <button mat-raised-button color="accent" (click)="openCreateTicketDialog('Receive')">
      <mat-icon>add_box</mat-icon>
      Create Receive Ticket
    </button>
  </div>
  <table border="1">
    <thead>
    <tr>
      <th>Ticket Type</th>
      <th>Product Name</th>
      <th>Size</th>
      <th>Weight (kg)</th>
      <th>Pickup Location</th>
      <th>Delivery Location</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of ticketsLists">
      <td>{{ ticket.ticketType }}</td>
      <td>{{ ticket.productName }}</td>
      <td>{{ ticket.productSize }}</td>
      <td>{{ ticket.productWeight }}</td>
      <td>{{ ticket.pickupLocation.city }}, {{ ticket.pickupLocation.state }}, {{ ticket.pickupLocation.country }}</td>
      <td>{{ ticket.deliveryLocation.city }}, {{ ticket.deliveryLocation.state }}, {{ ticket.deliveryLocation.country }}</td>
      <td>
        <button (click)="viewTicketDetails(ticket.id)">Find</button>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="!ticketsLists.length" class="empty-state">No tickets available</p>
</div>


